<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProyectoG_M.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ProyectoG_M.My.MySettings>
            <setting name="Conexion" serializeAs="String">
                <value>Server=tcp:misbasesprod.database.windows.net,1433;Initial Catalog=GamoTourDB;Persist Security Info=False;User ID=prod;Password=M@ria4030*;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</value>
            </setting>
        </ProyectoG_M.My.MySettings>
    </userSettings>
</configuration>
